# 문제 6

(kaggle 형 문제) prob4 를 바탕으로 아래 데이터셋을 만든다.

. prob6_train: DateHour 변수 기준으로 2021년 8월 14일 전(8월 14일 미포함) 데이터 (행의 수: 5256개)

. prob6_test: DateHour 변수 기준으로 2021년 8월 14일 이후(8월 14일 포함) 데이터 (행의 수: 744 개)

일 때, prob6_train으로 target을 예측하는 모델을 만들어, 

prob6_test의 target에 대한 MAE를 최소화하는 모델을 만든다. 

prob6_test의 예측 결과를 아래와 같은 형식으로 출력한다. 파일명은 answer6.csv 이다.

|DateHour|TotalHour|
|--------|---------|
|2021-08-14 00:00:00|102.607580|
|2021-08-14 01:00:00|94.078890|
....

※ 실제 상황에 가까운 연습을 위해 prob6_test의 target 값은 모른다는 상황을 가정하고 문제를 푼다.

## 데이터 전처리

In [1]:
# 실행 환경 확인

import pandas as pd
import numpy as np
import sklearn
import scipy
import statsmodels
#import mlxtend
import sys
#import xgboost as xgb

print(sys.version)
for i in [pd, np, sklearn, scipy, statsmodels]:
    print(i.__name__, i.__version__)

3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019, 20:34:20) [MSC v.1916 64 bit (AMD64)]
pandas 0.25.1
numpy 1.18.5
sklearn 0.21.3
scipy 1.5.2
statsmodels 0.11.1

In [2]:
df_elec = pd.read_csv('elec.csv', parse_dates=['Date', 'DateHour'])
df_info = pd.read_csv('info.csv')
df_info['Date'] = pd.to_datetime(df_info['Date'])

In [3]:
df_elec1 = df_elec.pivot(
    index='DateHour', 
    columns='Minute', 
    values='Value').reset_index() # index에 위치한 DateHour를 컬럼에 위치시킵니다
df_elec1

Minute            DateHour  15분  30분  45분  60분
0      2021-01-01 00:00:00   62   61   61   61
1      2021-01-01 01:00:00   96   93  116  113
2      2021-01-01 02:00:00  106   96  106  107
3      2021-01-01 03:00:00   92  110  110  109
4      2021-01-01 04:00:00  108  105  106  108
...                    ...  ...  ...  ...  ...
6163   2021-09-14 19:00:00  152  151  171  139
6164   2021-09-14 20:00:00  124  130  128  130
6165   2021-09-14 21:00:00  134  130  125  124
6166   2021-09-14 22:00:00  100  109  120  114
6167   2021-09-14 23:00:00  117  119  112   91

[6168 rows x 5 columns]

In [4]:
holi = pd.to_datetime(["2021-01-01", "2021-02-11", "2021-02-12", "2021-03-01", "2021-05-05", "2021-05-19", "2021-08-16"]).date

# pd.Series.dt accessor를 통해 파생 변수들을 만듭니다.
df_elec1 = df_elec1.assign(
    DayName = df_elec1['DateHour'].dt.weekday, 
    Hour = df_elec1['DateHour'].dt.hour,
    AM = (df_elec1['DateHour'].dt.hour >= 12).astype('int'),
    Weekend_yn = df_elec1['DateHour'].dt.weekday.isin([5, 6]).astype('int'),
    Holiday_yn = df_elec1['DateHour'].dt.date.isin(holi).astype('int'), # df_elec1['DateHour'].dt.date는 pd.Series 입니다.
    Avg = df_elec1[['15분', '30분', '45분', '60분']].mean(axis=1),
    TotalHour = df_elec1[['15분', '30분', '45분', '60분']].sum(axis=1),
)

In [5]:
df_info1 = df_info.fillna(0)

In [6]:
df_basetable1 = df_elec1.merge(
    df_info1, 
    left_on='DateHour', 
    right_on='Date', how='inner'
).drop(columns='Date') # DateHour가 컬럼에 있으므로 DateHour, Date 모두 존재하여, Date는 삭제했습니다.
display(df_basetable1.head())
df_basetable1.shape

,DateHour,15분,30분,45분,60분,DayName,Hour,AM,Weekend_yn,Holiday_yn,Avg,TotalHour,생산량,기온,풍속,습도,강수량,전기요금(계절),공장인원,인건비
0,2021-01-01 00:00:00,62,61,61,61,4,0,0,0,1,61.25,245,0,-3.2,2.4,71,0.0,109.8,0.0,1.5
1,2021-01-01 01:00:00,96,93,116,113,4,1,0,0,1,104.50,418,0,-4.5,1.5,77,0.0,109.8,0.0,1.5
2,2021-01-01 02:00:00,106,96,106,107,4,2,0,0,1,103.75,415,0,-3.9,2.6,58,0.0,109.8,0.0,1.5
3,2021-01-01 03:00:00,92,110,110,109,4,3,0,0,1,105.25,421,0,-4.1,2.6,56,0.0,109.8,0.0,1.5
4,2021-01-01 04:00:00,108,105,106,108,4,4,0,0,1,106.75,427,0,-4.6,2.6,60,0.0,109.8,0.0,1.5

(6168, 20)

In [7]:
# shift를 이용합니다.
df_prob3 = df_basetable1.sort_values('DateHour').reset_index(drop=True)
df_prob3['target'] = df_prob3['TotalHour'].shift(-24)
df_prob4 = pd.concat(
    [df_prob3] + [
        df_prob3['TotalHour'].shift(24 * i).rename('lag_{}'.format(i)) for i in range(1, 7)
    ], axis=1
).dropna()
df_prob4.head()

,DateHour,15분,30분,45분,60분,DayName,Hour,AM,Weekend_yn,Holiday_yn,...,전기요금(계절),공장인원,인건비,target,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6
144,2021-01-07 00:00:00,22,22,22,25,3,0,0,0,0,...,109.8,0.000000,1.5,252.0,96.0,96.0,271.0,88.0,253.0,245.0
145,2021-01-07 01:00:00,26,22,22,22,3,1,0,0,0,...,109.8,0.369565,1.5,396.0,85.0,85.0,432.0,99.0,418.0,418.0
146,2021-01-07 02:00:00,22,21,21,22,3,2,0,0,0,...,109.8,0.000000,1.5,411.0,85.0,85.0,439.0,88.0,415.0,415.0
147,2021-01-07 03:00:00,22,22,22,23,3,3,0,0,0,...,109.8,0.629213,1.5,398.0,90.0,90.0,426.0,88.0,421.0,421.0
148,2021-01-07 04:00:00,22,26,26,23,3,4,0,0,0,...,109.8,2.865979,1.5,420.0,93.0,93.0,435.0,95.0,427.0,427.0

In [8]:
# shift를 사용하지 않고 target를 구하는 방법입니다. (값을 구하기만 하고, 따로 prob4로 만들지는 않았습니다.)
df_basetable1.join(
    df_basetable1[['DateHour','TotalHour']].assign(
        DateHour=lambda x: x['DateHour'] - pd.Timedelta(days=1)
    ).set_index('DateHour').rename(columns={'TotalHour': 'target'}),
    on='DateHour', how='inner'
)

,DateHour,15분,30분,45분,60분,DayName,Hour,AM,Weekend_yn,Holiday_yn,...,TotalHour,생산량,기온,풍속,습도,강수량,전기요금(계절),공장인원,인건비,target
0,2021-01-01 00:00:00,62,61,61,61,4,0,0,0,1,...,245,0,-3.2,2.4,71,0.0,109.8,0.000000,1.5,253
1,2021-01-01 01:00:00,96,93,116,113,4,1,0,0,1,...,418,0,-4.5,1.5,77,0.0,109.8,0.000000,1.5,418
2,2021-01-01 02:00:00,106,96,106,107,4,2,0,0,1,...,415,0,-3.9,2.6,58,0.0,109.8,0.000000,1.5,415
3,2021-01-01 03:00:00,92,110,110,109,4,3,0,0,1,...,421,0,-4.1,2.6,56,0.0,109.8,0.000000,1.5,421
4,2021-01-01 04:00:00,108,105,106,108,4,4,0,0,1,...,427,0,-4.6,2.6,60,0.0,109.8,0.000000,1.5,427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6139,2021-09-13 19:00:00,162,160,148,122,0,19,1,0,0,...,592,2820,22.3,2.1,78,0.0,167.2,4.763514,1.5,613
6140,2021-09-13 20:00:00,113,122,122,126,0,20,1,0,0,...,483,14,22.2,1.3,78,0.0,167.2,0.028986,1.5,512
6141,2021-09-13 21:00:00,122,131,122,115,0,21,1,0,0,...,490,72,21.9,1.9,77,0.0,167.2,0.146939,1.5,513
6142,2021-09-13 22:00:00,97,108,122,113,0,22,1,0,0,...,440,11,21.7,1.4,77,0.0,167.2,0.025000,1.5,443
6143,2021-09-13 23:00:00,111,123,110,87,0,23,1,0,0,...,431,345,21.4,1.4,80,0.0,167.2,0.800464,1.5,439

In [9]:
# 문제에서 제시한 데이터셋을 만듭니다.
df_prob6_train = df_prob4.loc[df_prob4['DateHour'] < pd.to_datetime('2021-08-14')]
df_prob6_test = df_prob4.loc[df_prob4['DateHour'] >= pd.to_datetime('2021-08-14')]
# 정답 target은 떼어냅니다.
s_kaggle_ans =  df_prob6_test.pop('target') # Kaggle의 정답으로 간주하겠습니다, 실제 시험에서는 공개 되지 않습니다.

# Kaggle형 풀이 단계

Step 0: Kaggle용 데이터셋을 만든다.

Step 1: 검증 방법을 정하고, 검증 루틴을 만듭니다.

Step 2: Baseline 모델을 만듭니다

Step 3: 모델 선택 루틴을 만듭니다.

Step 4: 모델 개선 작업을 합니다.

In [11]:
# 시점기준으로 구분한 Hold-out 검증법
df_train = df_prob6_train.loc[df_prob6_train['DateHour'] < pd.to_datetime('2021-07-14')]
df_valid = df_prob6_train.loc[df_prob6_train['DateHour'] >= pd.to_datetime('2021-07-14')]

In [13]:
X_all = df_prob6_test.columns.tolist()

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline

In [25]:
from sklearn.svm import SVR
ct = ColumnTransformer([
    ('std', StandardScaler(), ['TotalHour'] + ['lag_{}'.format(i) for i in range(1, 7)]),
    ('ohe', OneHotEncoder(drop='first', categories='auto'), ['DayName']),
    ('pt', 'passthrough', ['AM'])
])
reg_svr = make_pipeline(ct, SVR(C=10, kernel='rbf', gamma=0.1))
reg_svr.fit(df_train[X_all], df_train['target'])

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('std',
                                                  StandardScaler(copy=True,
                                                                 with_mean=True,
                                                                 with_std=True),
                                                  ['TotalHour', 'lag_1',
                                                   'lag_2', 'lag_3', 'lag_4',
                                                   'lag_5', 'lag_6']),
                                                 ('ohe',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories='auto',
                                                                drop='first',
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=True),
                                                  ['DayName']),
                                                 ('pt', 'passthrough', ['AM'])],
                                   verbose=False)),
                ('svr',
                 SVR(C=10, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
                     gamma=0.1, kernel='rbf', max_iter=-1, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [19]:
reg_svr.predict(df_valid[X_all])

array([293.98174539, 397.45783532, 426.05742854, 414.09690878,
       421.0873428 , 410.78981037, 446.02795688, 518.66316621,
       606.61809072, 627.49449406, 638.93959263, 651.68911906,
       471.71364772, 621.48567788, 648.54422131, 628.99672748,
       648.7193722 , 560.46838322, 617.4700893 , 614.33079228,
       554.48891414, 541.1974691 , 516.50304511, 520.35663144,
       291.16189295, 399.45714356, 440.82593311, 410.59250243,
       426.19306427, 398.36535508, 449.10661615, 522.1242841 ,
       644.05694436, 623.11295927, 629.16472256, 650.10121995,
       402.19412695, 652.95436591, 681.93630615, 669.18891217,
       671.03381505, 591.92382147, 663.55394308, 565.52699894,
       451.72438433, 462.57469145, 464.15900226, 445.71192879,
       253.47568301, 372.78074944, 380.73449235, 380.3816587 ,
       392.4583647 , 340.28310406, 401.50998929, 308.76299357,
       247.14268642, 264.36401208, 228.54701413, 206.49531001,
        85.73197857, 213.96062381, 129.74249696,  78.3420904 ,
        80.75555617,  65.48724012,  86.54723645,  58.74343887,
        39.58518484,  44.29879038,  63.84076874,  61.15442796,
       111.07479015,  97.87694982,  90.01625603,  86.82503696,
        85.91813202, 121.45983998,  81.26579364,  49.97823437,
       183.7617968 , 193.05020775, 157.08288238, 147.85452889,
        91.67163424, 157.13773414, 116.19593091,  96.0020335 ,
        97.19570251,  83.50286573,  92.85903766,  81.47405259,
        87.29529544, 108.38466008, 122.34676836, 123.73115616,
       122.13431566,  93.46139825,  90.80007131,  92.65850611,
        82.74440917, 145.59556088,  98.33642139, 234.22968782,
       671.68422397, 664.92602981, 645.49455844, 675.44027816,
       466.38315762, 641.79443237, 698.72175554, 656.08918796,
       687.63306247, 597.63313148, 651.63680246, 646.50661621,
       537.10262867, 534.85611764, 525.32869928, 476.94965415,
       257.16877348, 365.57151604, 434.92859135, 431.88978947,
       415.04196319, 512.07835133, 474.23241192, 455.4500545 ,
       542.78992021, 552.4485535 , 579.5568004 , 613.67025277,
       504.9087466 , 543.93962306, 637.60016328, 688.32347383,
       679.44812656, 620.39831821, 647.34769899, 671.8698844 ,
       647.71296445, 652.46525613, 642.65645359, 653.34951872,
       287.20521481, 407.15849094, 425.97894182, 418.39698317,
       428.88349063, 353.69260592, 426.92672939, 521.22833969,
       651.98888217, 642.84519456, 637.39057985, 650.25138253,
       457.34852011, 636.8594297 , 667.37386796, 629.88293687,
       670.92440121, 584.08956563, 664.32252607, 633.27303132,
       521.59745132, 545.67773941, 509.47047745, 494.5625968 ,
       282.74367029, 386.63331537, 418.72961818, 421.80468826,
       429.73376027, 355.18004129, 419.94139931, 490.95348828,
       627.10482808, 609.96611899, 591.16263728, 623.36966484,
       495.16631547, 611.576402  , 654.71543761, 636.46066064,
       669.34596364, 614.37783777, 667.77362915, 643.91280533,
       573.67938532, 605.61722509, 582.76741794, 570.88575292,
       275.05708595, 398.61731494, 408.32584919, 418.25167372,
       425.23727494, 352.21817844, 424.33203427, 533.61532907,
       673.91115143, 669.28382327, 652.6737723 , 670.95542058,
       466.82705954, 659.7211708 , 637.51623058, 634.34062546,
       644.18561887, 565.86187468, 636.0204645 , 568.10771052,
       466.32692243, 463.93225718, 404.57258937, 400.67742304,
       249.04260697, 393.37579835, 383.95624277, 367.20967365,
       376.89781669, 322.3971778 , 333.00351562, 206.58178209,
       136.56116228, 135.22659467, 111.50312625, 143.6851204 ,
       100.36701287, 122.56037123, 129.2341957 , 111.67654153,
       131.34745529, 107.91823523, 100.89509532,  73.80986208,
        74.69090024,  72.86410629,  82.29346239,  84.55450987,
       103.5960685 ,  87.02349039,  87.99498898,  85.95629903,
        90.90110319,  85.64580855,  84.74952623,  55.31147245,
       125.81760852, 121.21601122, 106.98401643, 133.56998933,
        87.51381768, 104.57774599, 114.86335312,  93.55543758,
       112.19920155, 102.16230261,  92.84458797,  72.98403153,
        78.08040737,  87.10832231,  83.44187955,  88.00931283,
       112.09299576,  86.94678775,  88.75890005,  90.55196043,
        93.8123682 ,  92.99391349,  88.98979274, 236.41271214,
       673.39259266, 656.91762058, 685.01746176, 686.0816914 ,
       464.92277949, 672.29451716, 661.20531876, 665.1899014 ,
       675.72515744, 603.92594777, 670.11654645, 622.56152522,
       529.50870509, 503.3444817 , 422.47196824, 430.43653563,
       263.76283581, 390.25195434, 401.21564632, 403.01402591,
       412.40867551, 337.30468948, 426.80938282, 529.28795963,
       658.1432084 , 659.42835966, 677.49722478, 663.15108362,
       491.41318702, 664.56301443, 662.43952398, 659.79233708,
       670.68114324, 563.0993039 , 674.99062512, 666.14913137,
       514.44947383, 514.86948866, 455.53934669, 431.88347654,
       297.76472963, 425.14158706, 417.08035391, 410.40652268,
       430.64833715, 360.6924601 , 425.37882029, 513.74549562,
       662.26593444, 658.94579566, 670.73804003, 671.24016892,
       468.10278862, 666.42819709, 669.0152    , 663.77779393,
       666.78270643, 586.52017237, 650.47097604, 644.70338809,
       535.95041183, 511.24781923, 462.77786626, 436.47990688,
       301.84596813, 429.8536765 , 440.90628438, 430.59911617,
       435.9406885 , 361.86989944, 444.20103293, 544.53748811,
       659.59190265, 665.64494827, 664.02950929, 662.40199835,
       445.1549275 , 663.16132983, 664.42277582, 647.22051754,
       650.56768044, 571.2453353 , 650.60570152, 629.16765768,
       519.26357835, 499.76619986, 467.39067259, 439.59084631,
       308.93760687, 439.49124946, 442.27627   , 433.14415492,
       427.60751711, 365.75142727, 443.13176479, 519.74088852,
       672.41481105, 671.37918018, 667.70610092, 656.36244161,
       450.23279579, 670.9690082 , 670.05032126, 682.39931724,
       701.58244249, 571.88958222, 668.91145297, 599.80534585,
       456.27688124, 440.1779082 , 406.64264202, 406.6629101 ,
       267.91040816, 387.72803322, 381.36399553, 376.01445344,
       387.42611686, 314.90206539, 382.26104639, 242.99600679,
       154.17618019, 146.97688265, 126.73569947, 177.58645628,
        99.07268896, 132.54916053, 143.71151208,  84.44659916,
       101.27017411,  92.47135604, 124.6437835 ,  68.23856828,
        56.7438446 ,  61.82982885,  70.83780488,  70.74849264,
       119.92967719, 100.04804782,  98.0660892 ,  97.29651025,
        94.37576769, 108.50818307,  96.86044589,  75.60110552,
       143.22444036, 134.90383812, 118.17596189, 159.70321132,
       101.638765  , 115.07203128, 129.12659191,  82.77961754,
        97.21004192,  81.22980319, 103.50208241,  84.66160976,
        79.1140355 ,  78.7709241 ,  83.79362534,  85.8392367 ,
       123.37954774, 115.91406948, 121.03950091, 120.51083523,
       113.9237043 , 113.76740143, 126.32424552, 310.84570143,
       678.71010835, 664.4030338 , 676.61000828, 643.99915153,
       457.63312885, 644.35043854, 664.22128542, 642.52559828,
       661.81955097, 563.91676031, 669.99621855, 651.49179271,
       425.85076402, 456.20252687, 449.66525652, 383.59748029,
       292.70820753, 426.93814735, 463.21003107, 436.95875643,
       442.43601664, 365.59321102, 440.63748735, 562.22785104,
       661.37059597, 648.64420856, 665.44116965, 656.63493457,
       448.73480471, 654.29698955, 666.60671336, 659.49204672,
       668.12028326, 609.69876676, 646.65308384, 638.73899043,
       529.87851039, 532.97006909, 485.82064089, 461.4804287 ,
       314.70738966, 404.56807255, 400.34890107, 405.70226953,
       400.63676814, 359.88183052, 412.26425627, 494.50891126,
       561.41902089, 560.97644275, 552.51907227, 567.56070175,
       404.20825093, 558.06363573, 560.18284206, 512.53524441,
       532.07143923, 471.07718675, 547.54622328, 494.94864918,
       379.87813721, 385.32040512, 368.67552818, 363.53674765,
       311.7590646 , 391.15452466, 390.32774625, 390.35287499,
       390.09998694, 360.0142452 , 399.43136846, 445.44155949,
       503.0707546 , 505.98438046, 497.1533655 , 511.30565155,
       393.22088906, 501.44990292, 499.75121844, 471.33732253,
       478.35138914, 427.95040673, 486.7369086 , 472.70057404,
       410.24777522, 406.16298027, 399.38810295, 387.91475595,
       334.19766037, 386.9763918 , 385.1071336 , 389.7136562 ,
       384.06031475, 362.36664619, 391.6888127 , 435.78109741,
       476.46571184, 476.91082649, 469.67693216, 483.21676469,
       386.45608368, 474.39329423, 476.85372811, 442.38106116,
       455.79343006, 424.98979359, 465.84490301, 429.91453026,
       365.06427487, 368.98361657, 359.25829169, 357.69739969,
       246.68014357, 242.97402923, 246.54910215, 241.41669236,
       246.91376796, 244.39689086, 241.81539981, 248.60022026,
       244.5967013 , 245.79076331, 243.28069759, 245.64333022,
       242.8008508 , 242.72143024, 242.96631404, 242.62962968,
       243.28691307, 242.25192212, 245.46002826, 243.12884356,
       244.05911636, 243.04537968, 244.21582529, 243.48952446,
       245.0353281 , 243.56012762, 246.7361595 , 243.05324936,
       245.76711084, 245.47896395, 242.60346355, 247.69582831,
       245.91105402, 246.64474751, 243.14255449, 241.92835459,
       242.44723721, 242.61817815, 242.5234053 , 241.48814841,
       244.1252576 , 241.93566952, 243.0463268 , 242.63545565,
       246.49789864, 242.28498032, 245.15335477, 242.14968997,
       245.12597288, 243.56169394, 247.23970728, 244.52637392,
       244.67561023, 245.53209376, 243.58667029, 247.33637279,
       244.51623385, 245.65996554, 242.67501028, 241.56486891,
       240.94741732, 242.27317088, 243.24699782, 242.59594675,
       242.43771964, 241.61845853, 245.10649944, 243.87204558,
       245.60133348, 241.44410656, 245.6564205 , 243.16199988,
       245.02153858, 244.51586083, 246.58819526, 243.95553203,
       244.09989848, 245.6587808 , 244.53088299, 249.75561085,
       385.6625961 , 381.42163889, 368.04211493, 376.10760302,
       298.69862189, 369.10786021, 369.18454577, 350.61912607,
       372.25409069, 320.05975262, 267.92422671, 264.02975069,
       277.45746771, 282.10900629, 277.72360383, 266.74686044,
       247.63268718, 266.37783576, 266.87507385, 266.59887461,
       270.70173941, 257.17378055, 271.66676149, 279.99633427,
       389.84389892, 387.9554779 , 375.72539599, 388.13459196,
       275.59331832, 382.73065854, 372.40046144, 349.78610502,
       369.76716134, 306.79090195, 326.56740376, 314.58441948,
       285.61287364, 282.64488843, 265.84917202, 253.73471799,
       235.10916139, 255.11267106, 264.17844656, 258.14327854,
       268.21884413, 246.5634716 , 277.89918914, 261.35245494,
       375.70343812, 357.59148716, 347.89553689, 362.60542297,
       231.53993346, 356.06934803, 350.31986164, 311.9888389 ,
       348.75110831, 277.84437883, 328.39318286, 296.49033717,
       247.42091161, 229.33333671, 222.67843861, 212.55372492,
       197.03407176, 211.64531238, 221.76113076, 216.79855436,
       223.43901642, 202.28108396, 237.18218398, 161.358969  ,
       172.99833262, 156.6991201 , 148.57305359, 169.36775487,
       103.67255872, 150.10773134, 153.48952413, 114.68515832,
       136.19384131,  96.14595134, 188.32700213, 165.5855642 ,
       106.57198294, 106.24159061, 105.62006645, 112.22916379,
       142.46062938, 111.81310727, 113.85352486, 113.36299766,
       109.03295579, 125.25009329, 111.07174787,  75.74711594,
       153.03277858, 122.21693359, 117.09380268, 129.84736106,
        98.90579919, 118.99980497, 127.73919763,  92.64283234,
       128.65251486, 117.04472331,  98.10429749,  63.9683729 ,
        72.14933269,  77.56734436,  84.21858361,  89.07315027])

In [23]:
ct = ColumnTransformer([
    ('std', StandardScaler(), ['TotalHour'] + ['lag_{}'.format(i) for i in range(1, 7)]),
    ('ohe', OneHotEncoder(drop='first', categories='auto'), ['DayName'])
])
ct.fit_transform(df_train[X_all]).shape

(4512, 13)